
.host-van-detail-info > h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}
.host-van-detail-info > h4 > span {
    font-weight: 500;
}

.host-van-price {
    font-size: 24px;
    font-weight: 500;
}

.host-van-price > span {
    font-size: 16px;
    color: #4D4D4D;
}

.host-van-detail-image {
    height: 100px;
    border-radius: 5px;
}