.home-container {
    background-image: url('/src/assets/vanlifeImgae2.png');
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    padding: 45px 23px;
    height: 90vh;
    color:white;
    text-align: center;
    display: block;
    overflow: hidden;
}

.home-container h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
    margin-top: 10%;
}

.home-container p {
    line-height: 24px;
}

.home-container a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 60%;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.home-container a:hover {
    transform: translate(1px, 1px);
}
