footer {
    background-color: #161616;
    color: #AAAAAA;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
    width: 100%;
    left: 0;
    bottom: 0;
}

